<html>
  <head>
        <meta http-equiv="refresh" content="2;url=/login/" />
    </head>
<style>
    body{
        margin: 0;width:100%;background: whitesmoke
    }
    </style>
    <body>
        <div style="width:94%;text-align:center;background:#BC279E;position:absolute;top:25%;padding:3%"><font style="color:white;font-family:sans-serif;font-size:20px;letter-spacing:3px;text-shadow:2px 2px 20px black">Congratulation! You will now be redirected to the login page . . .</font></div>

        <div style="width:94%;text-align:center;background:;position:absolute;top:45%;padding:3%"><font style="color:black;font-family:sans-serif;font-size:20px;letter-spacing:3px;text-shadow:2px 2px 20px red">A confirmation mail has been sent!</font>

        </div>

    </body>
</html>